body {
    background-image:url('img/Green.png') ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.area{
    height:90vh;
    margin: 0;
}
.login-container {
    background: rgb(255, 255, 255,0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0);
    max-width: 400px;
}

.btn-login {
    background-color: #007bff;
    color: white;
}
.btn-login:hover {
    background-color: #0056b3;
}

.Regis{
    text-decoration: none;
    color: rgb(0, 0, 0,0.7);
}
.Regis:hover{
    text-decoration: underline;
    
}
.hover:hover{
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}