body {
    background-image:url('img/Green.png') ;
    background-size: cover;
    background-position: center;
}
.area{
    height:100vh;
    margin: 0;
}
.login-container {
    background: rgb(255, 255, 255,0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0);
    max-width: 800px;
}
